body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 20px;
}
img{
    width: 150px;
    height: 400px;
    object-fit: cover;
}
.grid-ej1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

.card .contenido {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    transition: bottom 0.3s;
}

.card .contenido p {
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.card:hover .contenido {
    bottom: 40px;
}

.card:hover .contenido p {
    opacity: 1;
}

#grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  transition: 500ms;
}

#grid img {
  width: 100%;
  height: 100%;
  display: block;
}

:where(.left, .center, .right) {
  transition: 300ms;
}

:where(.left, .center, .right):hover {
  cursor: pointer;
}

#grid:has(.left:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

#grid:has(.center:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

#grid:has(.right:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
}

