{% extends 'blog/base.html' %}

{% block titulo %}Página Principal{% endblock %}

{% block contenido %}

<div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ post.titulo }}</h5>
                <p class="card-text">{{ post.cuerpo|truncatechars:50 }}</p>
                <a href="{% url 'detalle_post' pk=post.pk %}" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{% url 'autores' %}" class="btn btn-success mt-3">Ver Autores</a>


{% endblock %}
