@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Montserrat';
    min-height: 100vh;
    margin: 0;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas:
    "team supervisor karma"
    "team calculator karma";
    height: 100vh;
    gap:45px
}
.contenedor > div {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 30vh;
    box-shadow: 0 2px 5px black;
}
.contenedor > div:nth-child(1),
.contenedor > div:nth-child(4) {
    margin-top: 25vh;
}
.contenedor > div:nth-child(1) {
    grid-area: team;
    border-top: 3px solid red;
}
.contenedor > div:nth-child(2) {
    grid-area: supervisor;
    margin-top: 10vh;
    border-top: 3px solid blue;
}
.contenedor > div:nth-child(3) {
    grid-area: calculator;
    border-top: 3px solid blue;
}
.contenedor > div:nth-child(4) {
    grid-area: karma;
    border-top: 3px solid orange;

}
.contenedor > div i{
    float: right;
    padding: 25px;
}
p{
    color: gray;
}


@media (max-width: 600px){
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "team"
        "supervisor"
        "calculator"
        "karma";
    gap: 20px;
}
.contenedor > div {
    height: auto;
    margin: 25px;
}
.contenedor > div:nth-child(1),
.contenedor > div:nth-child(2),
.contenedor > div:nth-child(4) {
        margin-top: 0 ;
    }
}