{% extends 'recetasapp/base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg w-75">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-between mt-3">
                    <button type="submit" class="btn btn-success">💾 Guardar</button>
                    <a href="{% url 'ingredientes_lista' %}" class="btn btn-secondary">⬅️ Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
