body{
    background-color: gray;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10%;
}


.card {
    position: relative;
    border-radius: 10px;
    background-color: white;
    transition: transform 1s ease;
    
}

.card img {
    width: 80%;
    margin: 9%;
    display: block;
    border-radius: 8px;
    margin-bottom: 12%;
    transition: transform 1s ease;
}

.card p {
    position: absolute;
    bottom: 10px;
    left: 45%;
    font-size: 20px;
}

.card:hover{
    transform: scale(1.1);
    
}

.card:hover img{
    transform: rotate(12deg);
}



