@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Poppins', sans-serif; 
    text-align: center;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #d6c5a5;
}

.contenedor{
    flex: 1; 
    display: flex;
    flex-direction: column;

}
header {
  background-color: beige;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
}
header nav ul li a {
    font-weight: 600;
    color: black; 
    text-decoration: none; 
}


header nav ul li a:visited,
header nav ul li a:active {
    color: black;
}
header button{
  margin-right: 40px;
}
.logo {
  height: 60px; 
  width: auto;
  margin-left: 40px;  
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid gray;
  font-weight: 600;
}

button:hover {
  background-color: lightgray;
}

.contenedorMain {
    height: 60vh; 
    position: relative;

}

.contenedorMain img.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
   position: relative; 
    z-index: auto;
}

.hero-contenido {
    text-align: center;
    color: black;
    position: relative; 
    top: 10%;
    left: 20%;
    z-index: 1; 

}

.hero-contenido h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-contenido p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.estrellas{
  color: gold;
}

.contenedorCards{
  text-align: center;
  height: 25vh;

}

.contenedorCards h1{
  font-size: 20px;
}
.peliculas{
  margin: 1vh;
  display: flex;
  justify-content: center;

}

.peli {
  margin: 0.5vw;
  flex-direction: column;
  text-align: center;
  height: 25vh;
  width: 15%;
} 

.peli img{
  height: 80%;
}

footer {
    background-color: beige;
    border-top: 2px solid black;
    height: 15vh;
    margin-top: 10vh;
}

footer i {
    color: black;
    margin: 10px;
    font-size: 30px;
}



@media (max-width: 800px) {

  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 20px;
  }

  .logo {
    height: 50px;
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  nav ul li {
    margin: 5px 0;
  }

  button {
    margin-top: 10px;
    width: 80%;
  }

  .contenedorMain {
    height: 40vh; 
  }

  .hero-contenido {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
  }

  .hero-contenido h1 {
    font-size: 1.5rem;
  }

  .hero-contenido p {
    font-size: 0.9rem;
  }

  .estrellas {
    font-size: 1rem;
  }

  .contenedorCards {
    height: auto; 
    padding: 20px 10px;
  }

  .peliculas {
    flex-direction: column; 
    gap: 15px;
  }

  .peli {
    width: 80%; 
    height: auto;
  }

  .peli img {
    height: auto;
    width: 100%;
  }

  footer {
    height: auto;
    padding: 20px 0;
  }
}
